*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --ltr-gradient: linear-gradient(to right,rebeccapurple,hotpink);
    --generic-purple: rebeccapurple;
}
#layer{
    position: absolute;
    inset: 0 0 0 -200px;
    height: 500px;  width: 400px;
    background: linear-gradient(hotpink,var(--generic-purple));
    border-radius: 0 0 200px 200px;
}
header{
    position: -webkit-sticky;
    position: sticky;
    inset: 0;
    z-index: 1;
    width: auto;
    height: auto;
    padding: .1rem 3rem .1rem 1rem;
    display: flex;
    align-items: center;
    background: rgba(200,2000,200,.2);
}
header a{
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    display: block;
    background: var(--ltr-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-left: auto;
    cursor: pointer;
}
header nav{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    -webkit-padding-start: 10px;
    padding-inline-start: 10px;
    color: var(--generic-purple);
    font-weight: 700;
    position: relative;
}
header nav span{
    display: block;
    width: 100px;
    color: var(--generic-purple);
    font-weight: 700;
    text-align: center;
    padding: .5rem 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: .3s;
}
header nav span:hover:not(:first-of-type){
    background: var(--generic-purple);
    color: white;
}
#menu-icon{
    display: none;
    width: 40px;
    -webkit-clip-path: inset(2px 5px 2px 5px);
    clip-path: inset(2px 5px 2px 5px);
    cursor: pointer;
}
#exit-icon{
    display: none;
}
main{
    isolation: isolate;
    max-width: 800px; 
    height: auto;
    padding: 0 1rem;
    border-radius: 20px;
    margin: 50px auto;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}


/*--styling for the cell-phone--*/
#cell-phone{
    height: auto;
    flex: 1 200px;
    padding: 1rem;
    border-radius: inherit;
    background: white;
    box-shadow: 0 0 30px 0 lightslategray;
}
#cell-phone-camera-area{
    height: 90px;
    width: auto;
    border-radius: 20px 20px 10px 10px;
    background: var(--ltr-gradient);
    position: relative;
    display: flex;
    align-items: end;
}
#cell-phone-camera-area::before{
    content: "";
    width: 200px;
    height: 40px;
    background: white;
    border-radius: 20px;
    position: absolute;
    inset: -15px 0 0 50%;
    translate: -50%;
    
}

#profile-area{
   display: flex;
   gap: 1rem;
   align-items: center;
   padding: 1rem;
}
#profile-area img{
    width: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px white;
}
#name-and-avail-status{
    height: auto;
}
.n-and-s{
    position: relative;
    display: block;
    font-weight: 500;
    color: white;
}
.n-and-s:first-child{
    color: white;
    font-size: .8rem;
}
.n-and-s:first-child::after{
    content: "";
    width: 5px; height: 5px;
    border-radius: 50%;
    background: lime;
    position: absolute; 
    inset: 7.5px 0 0 100%;
    translate: 5px;
    -webkit-animation: blink 1s ease-in infinite alternate;
    animation: blink 1s ease-in infinite alternate;
}

@-webkit-keyframes blink{
    to{scale: 1.7;}
}
@keyframes blink{
    to{scale: 1.7; }
}

.n-and-s:last-child{
    font-size: .6rem;
}

/*--styling for the text message area--*/
#text-message-area{
    height: auto;
    width: 100%;
    padding: 20px 10px 20px 10px;
    background: rgba(200,200,200,.4);
    border-radius: 5px 5px 20px 20px;
}

.usr-text-msg{
    height: auto;
    width: 200px;
    padding: .5rem;
    font-size: .7rem;
    font-weight: 600;
    color: var(--generic-purple);
    border-radius: 10px 10px 10px 0;
    background: rgb(238,204,255);
    transition-duration: .3s;
}
.usr-text-msg:not(:first-of-type){
    -webkit-margin-before: 10px;
    margin-block-start: 10px;
}

.client-txt-msg{
    opacity: 0;
    height: auto;
    width: 200px;
    padding: .5rem;
    font-size: .7rem;
    font-weight: 700;
    color: var(--generic-purple);
    background: white;
    display: flex;
    gap: .5rem;
    -webkit-margin-before: 10px;
    margin-block-start: 10px;
    -webkit-margin-start: 100px;
    margin-inline-start: 100px;
    border-radius: 10px 10px 0 10px;
    transition-duration: .3s;
}

/*--keyframe for the client text msg animation starts here and 
    the animation propeties are witten inline
--*/

@-webkit-keyframes fade-in{
    to{opacity: 1;}
}
@keyframes fade-in{
    to{opacity: 1;}
}

/*--and ends here--*/

/*--keyframe for the pricing text msg animation starts here and
    the animation propeties are witten inline
--*/

@-webkit-keyframes fade-in-second{
    to{opacity: 1;}
}
@keyframes fade-in-second{
    to{opacity: 1 }
}

/*--and ends here--*/

.client-txt-msg:not(:first-of-type){
    box-shadow: 0 0 20px 0 lightgray;

}
.client-txt-msg img{
    width: 50px;
    border-radius: 10px;
}

.pricing-msg{
    opacity: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: .5rem;
    color: white;
    border-radius: 10px 10px 10px 0;
    -webkit-margin-before: 10px;
    margin-block-start: 10px;
    display: flex;
    align-items: center;
    gap: .5rem;
    background: var(--ltr-gradient);
    transition-duration: .3s;
}
.pricing-item:first-child{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid white;
}
.pricing-item:nth-child(2){
    font-size: .7rem;
}
.pricing-item:last-child{
    font-weight: 650; 
    font-size: 1.1rem;
}

.usr-text-msg:hover,.client-txt-msg:hover,.pricing-msg:hover{
    scale: 1.1;
}

/*--styling for message input area--*/
#input-wrapper{
    position: relative;
    border: none;
    width: auto;
    -webkit-margin-before: 20px;
    margin-block-start: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
}
#input-wrapper::before{
    content: "";
    height: 40px;
    width: 40px;
    background: var(--generic-purple);
    border-radius: 50%;
    position: absolute;
    inset: 50% 0 0 90%;
    transform: translate(-50%,-50%);
}
#input-wrapper input[type="text"]{
   background: white;
   padding: 0 1rem;
   border: none;
   outline: none;
   border-radius: 30px;
   box-shadow: 0 0 10px 0 lightgray;
}


/*--styling for the product description--*/
#intro{
    flex: 1 900px;
}
#intro h1,#intro h2{
    font-size: 2rem;
    color: var(--generic-purple);
}
#intro p{
    color: lightslategray;
    font-weight: 450;
    word-spacing: .1rem;
    -webkit-margin-before: 15px;
    margin-block-start: 15px;
}
#intro a{
    display: block;
    text-decoration: none;
    background: var(--generic-purple);
    position: relative;
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    -webkit-margin-before: 30px;
    margin-block-start: 30px;
    transition: all .2s linear;
}
#intro a:hover{
    box-shadow: 0 0 10px 0 var(--generic-purple);
}
#intro a:hover img{
    scale: 1;
}
#intro a img{
    scale: 0;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    inset: -15px 0 0 100%;
    translate: -60%;
    box-shadow: 0 0 0 2px var(--generic-purple);
    transition-duration: .2s;
}

/*--styling for mobile-devices--*/
@media (max-width: 700px){

    main{
        flex-wrap: wrap;
        max-width: 500px;
        padding: 0 2rem;
    }


    /*--styling for the product description--*/
    #intro{
        width: 200px;
        text-align: center;
    }
    #intro p{
        padding: 1rem;
    }
    #intro a{
        margin: 20px auto;
    }


    /*--styling for the cell-phone--*/
    .n-and-s:first-child{
        color: white;
        font-size: 1rem;
    }
    .n-and-s:first-child::after{
        content: "";
        width: 5px; height: 5px;
        border-radius: 50%;
        background: lime;
        position: absolute; 
        inset: 11px 0 0 100%;
        translate: 5px;
    }
    .n-and-s:last-child{
        font-size: .7rem;
    }

    /*--styling for the header amd its contents--*/
    header{
        background: rgba(200,2000,200,.3);
        -webkit-padding-end: 1rem;
        padding-inline-end: 1rem;
    }
    header nav{
        background: rgba(200,200,200,.7);
        position: absolute;
        gap: .5rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 0;
        height: 100vh;
        inset: 0;
        padding: 0;
        -webkit-padding-before: 60px;
        padding-block-start: 60px;
        overflow: hidden;
        transition-duration: .1s;
    }
    header nav span{
        width: 100%;
        text-align: left;
        border-radius: 0;
        font-weight: 700;
    }
    #menu-icon{
        display: block;
        border-radius: 300px;
    }
    #exit-icon{
        display: block;
        width: 30px;
        border-radius: 50%;
        position: absolute;
        inset: 10px 0 0 10px;
        cursor: pointer;
        mix-blend-mode: overlay;
    }
}
